@use "styles/variables" as *;

.container {
  display: flex;
  align-items: center;
  h3 {
    font-weight: 400;
    margin-right: 50px;
    font-size: 14px;
  }
}

.steps {
  &_container {
    display: flex;
  }
}

.track {
  width: 110px;
  height: 20px;
  background-color: $color-track-bg;
  border: solid 2px $color-track-bg-border;
  transition: background-color 0.9s ease, border 0.9s ease;

  &_active {
    background-color: $color-track-bg-active;
    border: solid 2px $color-track-bg-border-active;
  }
}

.step {
  &_container {
    display: flex;
    align-items: center;
  }
}
