@use "styles/variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: $color-primary-bg;
  border: solid 2px $color-primary-bg-border;
  padding: 12px;
  width: 190px;
  font-size: 24px;
  text-align: center;
}

.label {
  color: $color-secondary-font;
}
